.subtitulo {
    text-shadow: 5px 5px 10px #53fabd;
    text-align: center;
    margin: 0.5%;
}

.colContacto {
    border: 1px solid black;
    padding: 1em;
    font-size: 1.5rem;
}

.colTitulo {
    border: 1px solid black;
    padding: 1em;
    font-size: 3rem;
    text-align: center;
}

.colInterna {
    align-items: center;
    p {
        text-align: justify;
    }
    img {
        max-width: 40%;
    }
}