.subtitulo {
    text-shadow: 5px 5px 10px #53fabd;
    text-align: center;
    margin: 0.5%;
}

/* Estilos generales */
.colContacto {
    max-width: 100%; 
    border: 1px solid black;
    padding: 1em;
    font-size: 1.5rem;
}

.colTitulo {
    max-width: 100%;
    border: 1px solid black;
    padding: 1em;
    font-size: 3rem;
}

.colInterna {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colInterna p {
    text-align: justify;
}

.colInterna img {
    max-width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Estilos específicos para dispositivos móviles */
@media (max-width: 767px) {
    .colTitulo {
        font-size: 2rem; /* Reduce el tamaño del texto en dispositivos móviles */
        padding: 0.5em; /* Ajusta el padding para un mejor ajuste */
    }

    .colContacto {
        font-size: 1.2rem; /* Reduce el tamaño del texto en dispositivos móviles */
        padding: 0.5em; /* Ajusta el padding para un mejor ajuste */
    }

    .colInterna {
        flex-direction: column; /* Cambia la dirección del flex para apilar verticalmente */
        text-align: center; /* Centra el texto e imágenes en dispositivos móviles */
    }

    .colInterna img {
        max-width: 80%; /* Ajusta el tamaño máximo de la imagen en dispositivos móviles */
    }
}