.subtitulo {
    text-shadow: 5px 5px 10px #53fabd;
    text-align: center;
    margin: 0.5%;
}

.colContacto {
    border: 1px solid black;
    padding: 1em;
    font-size: 1.5rem;
}

.colTitulo {
    border: 1px solid black;
    padding: 1em;
    font-size: 3rem;
}

.colInterna {
    display: flex;
    align-items: center;
    justify-content: center;
}

#numTelefono {
    margin-left: -50%;
}

.colInterna p {
    text-align: justify;
}

.colInterna img {
    max-width: 40%;
    height: auto;
}

#mapa {
    height: 30em;
    max-width: 100%;
}

.contacto {
    margin-top: 2%;
}

@media (max-width: 767px) {
    .colTitulo {
        font-size: 2rem;
        padding: 0.5em;
    }

    .colContacto {
        font-size: 1.2rem;
        padding: 0.5em;
    }

    .colInterna {
        flex-direction: column;
        text-align: center;
    }

    #numTelefono {
        margin-left: 0;
    }

    .colInterna img {
        max-width: 80%;
        margin-top: 2%;
    }
}