.regresar {
    color: white;
    font-size: 2em;
  }
  
  .regresar:hover {
    color: gainsboro;
  }
  
  .nombreProducto {
    background-color: #B4B4B4;
  }
  
  .detalle {
    border-color: #000000;
    border: solid;
  }
  
  .galeria {
    padding: 1em;
    padding-top: 2em;
  }
  
  .imagenGaleria {
    width: 80%;
    height: auto;
    margin-bottom: 10%;
  }
  
  .colImagen {
    text-align: center;
  }
  
  .btnCompra a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .link a {
    color: #000000;
  }
  
  .link a:hover {
    background-color: #e4e4e4;
  }

  .imagen {
    margin-bottom: 5%;
  }

/* Reseñas */
.star {
  font-size: 2rem;
  cursor: pointer;
  color: gray; 
}
.star.selected {
  color: gold;
}
.star.hover {
  color: gold;
}
.comment-box {
  margin-top: 10px;
}
.resenas {
  padding-top: 2em;
}

.calificacion {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
}
.sinCalificacion {
  font-size: 1.3rem;
}

.comentario {
  font-size: 1.3rem;
  min-height: 2em;
}

.estrellas {
  font-size: 2.5rem;
  display: flex;
}

.resena {
  padding-bottom: 2em;
  padding-top: 1em;
}



e {
  color: gold;
}