.Contenedor-Carrusel {
  margin-left: 5%;
  margin-right: 5%;
  transition: all 0.2 ease;
  margin: 3%;
}

.card {
  width: 100%;
  margin: 6%;
  padding: 1%;
  border-radius: 8px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 0.2 ease;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-2%);
}

.card .info {
  padding: 1.5%;
}

#populares {
  margin: 4%;

  justify-content: center;
  img {
    max-width: 100%;
  }
}

@media (max-width : 640px) {
  .card-img-overlay {
    text-align: end;
    padding: 15%;
  }
  .card-img-overlay {
    margin: 0%;
  }
  .card-text {
    font-size: 1rem;

  }
  .col {
    margin: 2%;
  }
  #populares {
    margin: 5%;
   .card{
    margin: 0%;
   }
    h2 {
      text-shadow: 5px 5px 10px #53fabd;
    }
    img {
      max-height: 100%;
      max-width: 10rem;
    }
    #grafico {
      max-width: 100%;
    }
  }
}

@media (min-width : 680px) {
  .Contenedor-Carrusel .card-img-overlay {
    text-align: center;
    font-size: 1.5rem;
    justify-content: center;
    padding: 10%;
    h5 {
      font-size: 2rem;
    }
  }
  .card-img-overlay {
    margin: 3%;
  }
}

@media (max-width : 640px) {
  .Contenedor-Carrusel .card-img-overlay {
    text-align: center;
    font-size: 0.7rem;
    h5 {
      font-size: 1rem;
    }
  }
}

@media (max-width : 420px) {
  .Contenedor-Carrusel .card-img-overlay {
    padding: 2%;
    margin: 1%;
    font-size: 0.5rem;
    h5 {
      font-size: 0.5rem;
    }
  }
}

.subtitulo {
  text-shadow: 5px 5px 10px #53fabd;
  text-align: center;
  margin: 0%;
}

.card-img {
  filter: brightness(55%);
}

@media (max-width : 356px) {
  .card-img-overlay {
    text-align: end;
  }
  .card-img-overlay {
    margin: 0;
    h5 {
      font-size: 0.7rem;
    }
  }
  .card-text {
    font-size: 0.5rem;
  }

}

.Contenedor-grafico {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60%;
}
