#preguntas-contenedor{

    display: grid;
    max-width: 100%;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 2%;

  justify-items: center;
   
}
.card{
  margin: 2%;
  a{
    color: #53fabd;
  }
}
.card:hover {
  transform: translateY(-5%);
  transition: 2s;
  }
@media (max-width : 720px) {
    #preguntas-contenedor{
        max-width: 95%;
        grid-template-columns: 100% ;
        justify-content: center;
        text-align: center;
         margin: 2.5%;
    
       
    }
}
.card-header{
    background-color: #b4b4b4;
    color: #000;
}  
.card-body{
background-color: #000;
color: #fff;
    box-shadow: 10px 15px 20px #000;
    transform: translateY(-2%);
    ul li{
      text-align: start;
    }
}
#subtitulo{
    text-shadow: 5px 5px 10px #53fabd;
    text-align: center;
    margin: 0.5%;
  } 
