.nav-link {
    color: #fff;
    text-align: center;
    background-color: #000;
   
}
#navegador{
  background-color: #000;
  padding: 2%;
  text-align: center;
  color: #fff;

}
.nav-contenedor{

  background-color: #000;

  margin-right: 5%;
  color: #fff;
}
main{
    margin: 1%;
    padding: 0%;
}
* {
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif
  }

  footer{

    background-color: #000;
    color: #fff;
    padding: 2%;
    text-align: center;
    width: 100%;
    list-style: none;
    img{
      margin: 1%;
    }
  }


.titulo-nav{
  text-align: left;

}