
.info{
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;  
}
.paginacion{
    margin: 2%;
}
.compra{
    text-shadow: 5px 5px 10px #53fabd;
    text-align: center;
    margin: 1%;

}
.principal{
 
    .titulo{
        color: #000;

    }
}
.conte{
    background: radial-gradient( circle,#000000, #b4b4b4);
     
    margin: 0%;
}
.conte2{
    background: radial-gradient( circle,#000000, #b4b4b4);
     color: #fff;
    margin: 0%;
}
.modal-footer {
    background-color: #000;
    color: #fff;
button{
    background-color: #b4b4b4;
    color: #000;
}    
}

.modal-header{
    background-color: #000;
    color: #fff;
    .btn-close i{
        color: #fff;
    }
}
.modal-body{
    background-color: #000;
    color: #fff;
}

/* Ajustar factura en teléfonos */
@media (max-width: 768px) {
    .card.container {
      max-width: 90%;
      margin-bottom: 10%;
      padding: 10px;
    }
  
    .card-header h2 {
      font-size: 1.5rem;
    }
  
    .card-body h2 {
      font-size: 1.4rem;
    }
  
    .card-body p {
      font-size: 1rem;
    }
  
    .card-body h3 {
      font-size: 1.2rem;
      text-align: center;
    }
  
    .card-body h4 {
      font-size: 1rem;
    }
  
    .table-responsive {
      min-width: 100%;
      overflow-x: auto;
    }

    .table {
        margin-bottom: 10%;
    }
  
    .table th, .table td {
      font-size: 1rem;
    }
  
    .table th h4, .table td h4 {
      font-size: 1rem;
    }
  
    .card-body h3 span, 
    .card-body h3,
    .card-body p {
      display: block;
      margin-bottom: 5%;
      text-align: center;
    }
    
    .card-body p {
      margin-top: 10%;
    }
  }
  